{
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "extends": [
    "./.plugins.json",
    "eslint:recommended",
    "plugin:vue/vue3-essential",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "vue/multi-word-component-names": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-console": 2,
    "@typescript-eslint/ban-ts-comment": 1
    // "@typescript-eslint/no-unused-vars": 0
  }
}
