<template>
  <div class="no-component no-{{lowerCase name}}">{{pascalCase name}}</div>
</template>
<script lang="ts" setup></script>
<style lang="scss" scoped>
.no-component.no-{{lowerCase name}} {
}
</style>
