/* 主题变量 */
/* :root.sunny */
:root {
  --color-1: #08724f;
  --color-2: #08724f;
  --color-3: #08724f;
  --color-4: #08724f;
  --color-5: #08724f;
  --bg-color: #fff;
  --text-color: #000;
}

:root.night {
  --color-3: #000;
  --color-1: #000;
  --color-2: #000;
  --color-5: #000;
  --color-4: #000;
  --bg-color: #fff;
  --text-color: #000;
}
